<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SistemaPermisosConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Sistemapermisos.accdb;"
      providerName="System.Data.OleDb" />
    <add name="SistemaPermisos.My.MySettings.SistemapermisosConnectionString"
      connectionString="Dsn=MS Access Database;dbq=D:\Release\Sistemapermisos.accdb;defaultdir=D:\Release;driverid=25;fil=MS Access;maxbuffersize=2048;pagetimeout=5;uid=admin"
      providerName="System.Data.Odbc" />
  </connectionStrings>
</configuration>